.allImages {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  text-align: center;
  flex-flow: row wrap;

}

.allImages img {
  margin: 5px;
  /* padding: 20px; */
  border: 1px solid rgba(0, 0, 0, 0.25);
  max-height: 250px;
  max-width: 250px;
  background-color:gray;

}

.card {
  margin-left: 100px;
  margin-bottom: 20px;
}

